@charset "utf-8";

*{
    font-family: 'Courier New', Courier, monospace;
}


html{
    font-size: 24px;
}
h1{
    background-color: aliceblue;

    color: black;
}

p{
    color: blueviolet;

    line-height: 1rem;
}

a:link{
    color: blue;
}

a:visited{
    color: aqua;
}

a:hover{
    font-size: 2em;
}

h1:hover{
    border: 2px solid red;
}

h2:hover{
    border: 2px solid red;
}

h3:hover{
    border: 2px solid red;
}

h4:hover{
    border: 2px solid red;
}

h5:hover{
    border: 2px solid red;
}